<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.eits.cordova.unknownsources"
        version="0.1.0">

    <name>UnknownSources</name>
    <description>
        Cordova Plugins that allows to check if unknown sources are activated in Android and go to the corresponding
        settings page.
    </description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/UnknownSources.js">
        <clobbers target="cordova.UnknownSources"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UnknownSources">
                <param name="android-package" value="de.eits.cordova.unknownsources"/>
            </feature>
        </config-file>
        <source-file src="src/android/UnknownSources.java" target-dir="src/de/eits/cordova/unknownsources"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="AppVersion" string="AppVersion"/>

        <config-file target="config.xml" parent="/*">
            <feature name="AppVersion">
                <param name="ios-package" value="AppVersion"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AppVersion.h"/>
        <source-file src="src/ios/AppVersion.m"/>
    </platform>
</plugin>
